# keys and certificates
*.pem
*.key
*.jks
*.csr
*.srl
*.crt
*.p12

*elasticsearch-ssl-http.zip
*es_native_certs_bundle_pem.zip
*es_native_certs_bundle.zip

# env files with passwords or local paths
*.env
security/internal_users.yml
security/nifi_toolkit

# other
nifi/nifi-app.log
scripts/data_processing/anonymistion_hw_clean/anonymised
.DS_Store
.idea

# docs
docs/build/*
