# IDE envs and system folders
.DS_Store
**/.DS_Store
.idea
.vscode
.venv
.ruff_cache
.mypy_cache
venv
**__pycache__
**/venv
*.pyc 
.pyc

# Ignore setuptools metadata
*.egg-info/
*.egg-info
**/*.egg-info/

# keys and certificates
*.pem
*.key
*.jks
*.csr
*.srl
*.crt
*.p12

*elasticsearch-ssl-http.zip
*es_native_certs_bundle_pem.zip
*es_native_certs_bundle.zip

# env files with passwords or local paths
*.env
security/certificates/
security/certificates/**
security/env/
security/env/**
security/scripts/nifi_toolkit/
security/scripts/nifi_toolkit/**
security/templates/
security/templates/**

# docs
docs/build/*

# Ignore all .env files at any level
.env
*.env
**/*.env
!*.env.template
!**/*.env.template
