wheel==0.45.1

# data science pkgs
nltk==3.9.1
numpy==2.3.5
pandas==2.3.3
dill>=0.4.0,<1.0.0
bokeh==3.8.2
psycopg[c,binary]==3.2.9
overrides==7.0.0

# used in NiFi scripts: geolocation, avro conversion etc.
py4j==0.10.9.9
rancoord==0.0.6
geocoder==1.38.1
avro==1.12.1
nipyapi==1.1.0
py7zr==1.0.0
jsonpickle==4.1.1
xlsxwriter==3.2.9
mysql-connector-python==9.5.0
pymssql==2.3.9
requests==2.32.5
PyYAML==6.0.3
pydantic==2.12.5
overrides==7.0.0
pyarrow==22.0.0

# other utils
xnat==0.7.2

# ElasticSearch/OpenSearch packages
elasticsearch9==9.1.0
opensearch-py==3.0.0
neo4j==5.28.2
