# data science pkgs
seaborn==0.13.2
matplotlib==3.10.6
graphviz==0.21
plotly==6.3.0
keras==3.12.0
nltk==3.9.1
numpy>=1.26.0,<2.0.0
pandas==1.5.3
dill>=0.3.6,<1.0.0
bokeh==3.8.0
psycopg[c,binary]==3.2.9

# used in NiFi scripts: geolocation, avro conversion etc.
py4j==0.10.9.9
rancoord==0.0.6
geocoder==1.38.1
avro==1.12.0
nipyapi==1.0.0
py7zr==1.0.0
ipyparallel==9.0.1
cython==3.1.3
tqdm==4.67.1
jsonpickle==4.1.1
certifi==2025.8.3
xlsxwriter==3.2.5
mysql-connector-python==9.4.0
pymssql==2.3.7

# other utils
xnat==0.7.2

# ElasticSearch/OpenSearch packages
opensearch-py==3.0.0
elasticsearch9==9.1.0
neo4j==5.28.2
eland==9.0.1

# git utils
dvc==3.62.0
GitPython==3.1.45
PyYAML==6.0.2

# code utils
ruff==0.12.12
