[v3_ca]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
subjectAltName = DNS:elasticsearch-1, DNS:elasticsearch-2, DNS:elasticsearch-3, DNS:nifi, DNS:cogstack, DNS:medcat, DNS:tika-service