wheel==0.45.1
virtualenv==20.31.2
ipywidgets==8.1.7
jupyter==1.1.1
jupyterlab_widgets==3.0.15
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
docker==7.1.0
dockerspawner==14.0.0
jupyterhub-client==0.1.0
pytesseract==0.3.13
ipyparallel==9.0.1
py7zr==0.22.0
isort==6.0.1
html2text==2025.4.15
jsoncsv==2.2.5
simplejson==3.20.1
detect==2020.12.3
nltk==3.9.1
keras==3.10.0
bokeh==3.7.3
seaborn==0.13.2
matplotlib==3.10.3
graphviz==0.20.3
plotly==6.1.1
tqdm==4.67.1
pymssql==2.3.4
mysql-connector-python==9.3.0
dataclasses==0.6
jsonpickle==4.1.0
jsonext==0.4.2
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyodbc==5.2.0
openpyxl==3.1.5
dvc==3.59.2
GitPython==3.1.44
opensearch-py==2.8.0
neo4j==5.28.1
PyYAML==6.0.2
opencv-python==4.11.0.86
elasticsearch==8.18.1
eland==8.18.2
xnat==0.7.1
plotly==6.1.1
click==8.2.1
medcat==1.16.0
torchvision>=0.20.1
traitlets==5.14.3