name: docker-nifi

on:
  push:
    branches: ['**']
    tags: ['v*.*.*']
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/_docker-template.yml
    with:
      image: cogstacksystems/cogstack-nifi
      context: .
      dockerfile: nifi/Dockerfile
      cache_scope: nifi
    secrets: inherit
